<!--header row-->
<div class="headContent" xmlns="http://www.w3.org/1999/html">

    <div class ="row">
        <!--<div class="section table-of-contents">
            &lt;!&ndash;<div class="col s3"></div>&ndash;&gt;
            <div class="col s2 menu-items"><a href="#intro">Intro</a></div>
            <div class="col s2 menu-items"><a href="#">2</a></div>
            <div class="col s2 menu-items"><a href="#">3</a></div>
            <div class="col s2 menu-items"><a href="#">4</a></div>
            <div class="col s2 menu-items"><a href="#">5</a></div>
            <div class="col s2 menu-items"><a href="#">6</a></div>

        </div>-->
    </div>
    <!--end of table of contents-->

    <div class="progress-container">
        <div class="progress-bar" id="myBar"></div>
    </div>
</div> <!--end of headContent-->

<div class ="content">
    <!--2 row-->
    <div id="intro" class="section scrollspy" style="margin-top: 50px">

        <div>
            <div class="row">
                <div class="col s12 subject"><p>Additional Links and Information</p></div>
            </div>
        </div>
        <div class="row">
            <div class="col s1"></div>
            <div class="col s10">
                <p>A central location for all the links you will need & can explore later. This part will not be on the quiz.</p>
            </div>
            <div class="col s1"></div>
        </div>
    </div><!--end of row 2-->

    <!--3 row-->
    <div>
        <div class="row">
            <div class="col s1"></div>
            <div class="col s10">
                <h3>Trilogy's Main On-Boarding Page</h3>
                <p>Policies, FT Benefits, Fire-side chats, Day in the Life of ..., and much more</p>
                <div><a href="https://sites.google.com/trilogyed.com/newhireonboarding/home?authuser=0" target="_blank">Learn More</a></div>

                <h3>Trilogy Blog T60</h3>
                <div><a href="https://www.trilogyed.com/blog/" target="_blank">Learn More</a></div>
            </div>
            <div class="col s1"></div>
            </div>
        </div>
    </div><!--end of row 3-->

    <!--4 row-->
    <div>
        <div class="row">
            <div class="col s1"></div>
            <div class="col s10">
                <h3>Script</h3>
                <p>You will be using while talking to candidates over the phone</p>
                <ul>
                    <strong>
                        <li>Username: james</li>
                        <li>Password: ellis</li>
                    </strong>
                </ul>
                <div><a href="https://recruitment-trilogy.herokuapp.com/" target="_blank">Go to Scripts</a></div>

                <h3>Closed Missed Reasons FAQ</h3>
                <div><a href="https://docs.google.com/spreadsheets/d/12ML5qHOfPuahn1koKHUol3utEPtxg_QBI9p0zAA_Kfg/edit#gid=0" target="_blank">Go to CMR FAQ</a></div>
            </div>
            <div class="col s1"></div>
        </div>
    </div><!--end of row 4-->

    <!--5 row-->
    <div>
        <div class="row">
            <div class="col s1"></div>
            <div class="col s10">
                <h3>Quality Assurance</h3>
                <p>Your phone calls will we recorded and assess on the quality of the call.</p>
                <div><a href="https://docs.google.com/document/d/1af_w6wnaRHdAeLU_TWqMoiAEAyAZmIYtIDYqWyf639c/edit" target="_blank">Go to QA Rubric</a></div>
            </div>
            <div class="col s1"></div>
        </div>
    </div><!--end of row 5-->

    <!--6 row-->
    <div>
        <div class="row">
            <div class="col s1"></div>
            <div class="col s10">
                <h3>HR Metrics</h3>
                <p>Your SalesForce candidates will be tracked in the system. We evaluate your progress and train when needed. The numbers help our team build a baseline, see trends, and much more. We are a data driven company.</p>
                <div><a href="" target="_blank">Go to Metrics</a></div>
            </div>
            <div class="col s1"></div>
        </div>
    </div><!--end of row 6-->

    <!--7 row-->
    <div>
        <div class="row">
            <div class="col s1"></div>
            <div class="col s10">
                <h3>You Can Book Me (YCBM)</h3>
                <p>All the links for YCBM.</p>
                <div><a href="https://docs.google.com/document/d/1kYgYKTG2r18pOdJBv3sgW-btnweElZNV-X3nrxjAsHI/edit" target="_blank">Go to YCBM Links</a></div>
            </div>
            <div class="col s1"></div>
        </div>
    </div><!--end of row 7-->

    <!--7 row-->
    <div>
        <div class="row">
            <div class="col s1"></div>
            <div class="col s10">
                <h3>University Document</h3>
                <p>All the Universities with location, links, parking info, degree requirements, and market difficulty.</p>
                <div><a href="https://docs.google.com/spreadsheets/d/1AUC-pMWs7Tp1jvYFSQRvAJ48JYTKgphYhMmFU_cVag4/edit#gid=0" target="_blank">Go to University Doc</a></div>

                <h3>University Links Document</h3>
                <p>All the Links including social links</p>
                <div><a href="https://docs.google.com/spreadsheets/d/1IDMiIDHsyMYyXfPBJOraxEqCsRXPrNB2rZuUeHbmlLI/edit#gid=0" target="_blank">Go to University Additional Links</a></div>
            </div>
            <div class="col s1"></div>
        </div>
    </div><!--end of row 7-->

    <!--8 row-->
    <div>
        <div class="row">
            <div class="col s1"></div>
            <div class="col s10">
                <h3>Tutoring - Central Support Department</h3>

                <p>Below is the link we send to candidates to get them started with Tutoring</p>
                <div><a href="https://docs.google.com/forms/d/e/1FAIpQLSewpjDaCvyQsnnGBsxNz6JmHHD3fMsUob7GTOpbhO00jGhV5g/viewform" target="_blank">Go to Tutoring Form</a></div>
                <p>Greg, Director of Central Student Support AKA tutoring, reaches out to candidates within 24-48 hours after they fill out the tutoring form. If a candidate says they have no received anything it could be in their spam folder or they entered the wrong email. If you want to confirm their email reach out to Courtney Phelps.  </p>
                <br>
                <p>ALL SESSIONS LAST 45-60 MINUTES<br>
                    <br>All new tutors will be sent the Docusign and Bamboo packages containing an offer letter and other information and requests to return information to Trilogy.
                    <br>
                    <br>There are 2 pay rates: Regular and Senior.  All tutors start at the regular pay rate and after completing 50 sessions, are eligible to be moved to the Senior level.
                    <br>
                    <br>Regular tutor - $20 per session for a 60 minute session (maximum).
                    <br>Senior Tutors - $30 per session for a 60 minute session (maximum).
                    <br>
                    <br>ADP provides a timecard for the tutor to clock in and clock out for each tutorial session.  Each session is 1 hour maximum.
                    <br>
                    <br>A back-to-back session, however, is 2 hours maximum with 1 student (Full-Time students are allotted 2 sessions per week and may elect to have them back-to-back for 2 hours).  A back-to-back session may have 1 clock in and 1 clock out (no need to stop and clock out and in at the end of the first hour).
                    <br><br>
                    <strong>Senior Tutor Level Eligibility</strong>
                    <br>
                    <br>Senior level tutors will be paid $30 for each 60 minute tutorial session.
                    <br>
                    <br>To qualify as a Senior Tutor:
                    <ui>
                        <li>Completed at least 50 tutoring sessions.</li>
                        <li>Completed tutor's evaluation forms for 100% of their sessions.</li>
                        <li>At least 75% of all their sessions have received student feedback submissions and they have received excellent feedback (average of 4 across all questions).</li>
                        <li>Tutor have emailed centralsupport@trilogyed.com with a request to verify that tutor has completed the above requirements.  Specify the number of sessions they have completed in their email.</li>
                        <li>Once verified, tutor will receive an email officially moving to the Senior Tutor Level.</li>
                    </ui>
                </p>

                <h3>Career Talk - Career Services Department</h3>
                <p></p>
                <div><a href="https://docs.google.com/forms/d/e/1FAIpQLScUa8gjvdH22sFr8xgiPP7jQZnHOWQDZfiSRnom7f_Y6-zaeQ/viewform" target="_blank">Go to Career Form</a></div>
            </div>
            <div class="col s1"></div>
        </div>
    </div><!--end of row 8-->

    <!--9 row-->
    <div>
        <div class="row">
            <div class="col s1"></div>
            <div class="col s10">
                <h3>SOP: Sourcing on LinkedIn</h3>
                <p>Explains the sourcing process involved with the Academic Recruitment Specialist using the tool ‘LinkedIn’ - for Trilogyed Staff ONLY.</p>
                <div><a href="https://docs.google.com/document/d/1YkZIx4ZqftTNf9qqzjwd4xdVwfBvoMLYp2rmUrTTzdU/edit" target="_blank">Go to SOP for LinkedIN</a></div>

                <h3>LinkedIn Template Responses</h3>
                <div><a href="https://docs.google.com/document/d/1uj_DGDW20fXjUQRP8_myQGAGVINmc8AOW5-1yY9sLTs/edit" target="_blank">Go to Templates</a></div>
            </div>
            <div class="col s1"></div>
        </div>
    </div><!--end of row 9-->

    <!--10 row-->
    <div>
        <div class="row">
            <div class="col s1"></div>
            <div class="col s10">
                <h3>Talent Pooled Candidates in SalesForce</h3>
                <div><a href="https://trilogyed.lightning.force.com/lightning/r/Report/00O2M000009Ex5NUAS/view?queryScope=userFolders" target="_blank">Go to SF TP Leads</a></div>

                <div><a href="https://trilogyed.lightning.force.com/lightning/r/Report/00O2M000009Ed79UAC/view?queryScope=userFolders" target="_blank">Go to SF TP Opportunities</a></div>
            </div>
            <div class="col s1"></div>
        </div>
    </div><!--end of row 10-->

    <!--10 row-->
    <div>
        <div class="row">
            <div class="col s1"></div>
            <div class="col s10">
                <h3>Tech Stacks</h3>
                <p>Learn more about our Tech Stacks and alternative techs from our Lead Sourcers. Set 1 hour of time aside or put speed in x2 mode</p>
                <div><a href="https://drive.google.com/file/d/1PC5XfqxeS_Tl-oGDOhH9VIE9WI-EbDiW/view" target="_blank">Learn More about the Techs we Teach</a></div>
            </div>
            <div class="col s1"></div>
        </div>
    </div><!--end of row 10-->

    <!--11 row-->
    <div>
        <div class="row">
            <div class="col s1"></div>
            <div class="col s10">
                <h3>Donut on Slack</h3>
                <p>We've added a new bot named Donut to Slack to help us get to know each other better. @donut will randomly pair everyone in our private channel acrecruitmentarmy every 2 weeks on Monday and encourage them to meet for coffee, hamburger, or doughnuts. This can be done in person or over zoom.us for 30 minutes. You can opt out by just not replying to your donut pairing at all.</p>
            </div>
            <div class="col s1"></div>
        </div>
    </div><!--end of row 11-->





</div> <!--end of content div-->

<br>
<!--Next and Back Buttons at the end of the page-->
<div>
    <div class="row">
        <div class="col s6"><a class="btn back" href="/">Back</a></div>
        <div class="col s6"><a class="btn next" id="complete" data-name="additional" href="/">Next</a></div>
    </div>
</div>