
<!--header row-->
<div class="headContent">
    <!--<div>
        <div class="row">
            <div class="col s12 trilogyHeader"><h1>Orientation</h1></div>
        </div>
    </div>-->
    <!--1 row-->
    {{!-- <div>
        <div class="row">
            <div class="col s12 subject"><p>ADP</p></div>
        </div>
    </div> --}}

    <div class ="row">
        <div class="section table-of-contents">
            <div class="col s2 menu-items"><a href="#intro">Intro</a></div>
            <div class="col s2 menu-items"><a href="#registering">Registering</a></div>
            <div class="col s2 menu-items"><a href="#time">Time</a></div>
            <div class="col s2 menu-items"><a href="#pay">Pay</a></div>
            <div class="col s2 menu-items"><a href="#benefits">Benefits</a></div>
            <div class="col s2 menu-items"><a href="#mobile">Mobile</a></div>
        </div>
    </div>
    <!--end of table of contents-->
    <div class="progress-container">
        <div class="progress-bar" id="myBar"></div>
    </div>
</div>
<!--end of headContent-->

<<<<<<< HEAD
=======
<div>
    <div class="row">
        <div class="col s1 content"></div>
        <div class="col s5 content">
            <h2>{{user}}</h2>
            <p>Lorem ipsum dolor amet messenger bag trust fund hexagon hell of, food truck chillwave synth tbh enamel pin succulents crucifix ennui air plant cornhole raclette.</p>
>>>>>>> 138f596905c5e2373bee3c7d3a786746a35a910b


<div class ="content">
    <!--2 row-->
    <div id="intro" class="section scrollspy" style="margin-top: 50px">
       <div>
            <div class="row">
                <div class="col s12 subject"><p>ADP</p></div>
            </div>
        </div>
        <div class="row">
            <div class="col s1"></div>
            <div class="col s10">
                <p>ADP is the employee self service website that we utilize to provide you with the following information: Direct access to your employee records and company information and the ability to access 24/7. You can update the following: Tax-withholding specifications, direct deposit information. You can also view the following: Pay statements, Annual statement (Form W-2).</p>
            </div>
            <div class="col s1"></div>
        </div>
    </div>

    <!--3 row-->
    <div id="registering" class="section scrollspy">
        <div class="row">
            <div class="col s1"></div>
            <div class="col s5">
                <h4>Registering for ADP</h4>

                <p>Go to website: <a target="_blank" href="https://workforcenow.adp.com/public/index.htm">ADP</a></p>

                <p>Click ‘Register Here</p>
            </div>
            <div class="col s5"><img class="rightContent" alt="ADP Login Screen" src="/img/adp1.png"></div>
            <div class="col s1"></div>
        </div>
    </div>
        <!--Trying in see if I can enlarge the images
        <div class="modal fade" id="enlargeImageModal" tabindex="-1" role="dialog" aria-labelledby="enlargeImageModal" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    </div>
                    <div class="modal-body">
                        <img src="" class="enlargeImageModalSource" style="width: 100%;">
                    </div>
                </div>
            </div>
        </div>-->
        <!--<script>
            $(function() {
                $('img').on('click', function() {
                    $('.enlargeImageModalSource').attr('src', $(this).attr('src'));
                    console.log("this ran");
                    $('#enlargeImageModal').modal('show');
                    console.log($('#enlargeImageModal').val())

                });
            });
        </script>-->
    <!--4 row-->
    <div>
        <div class="row">
            <div class="col s1"></div>
            <div class="col s5 ">
                <p>Type in Trilogy Education Services employee code:<br><br> <strong>TRILOGYED-1234</strong></p>

                <p>Click ‘Yes’ when prompted if you want to set up an account with Trilogy Education.</p>

                <p>Fill in appropriate information to verify your identity and finish creating your account.</p>
            </div>

            <div class="col s5"><img class="rightContent" alt="ADP Create an Account" src="/img/adp2.png"></div>
            <div class="col s1"></div>
        </div>
    </div>

    <!--5 row-->
    <div id="time" class="section scrollspy">
        <div class="row">
            <div class="col s1"></div>
            <div class="col s5">
                <h4>Completing Your Time & Attendance Tasks</h4>

                <p>Easily clock in and clock out here. </p>

                <p>If an entry is missed, inform your manager(s) via Slack direct message. Adding a note on your timecard does not notify your manager and they will not see it.</p>

            </div>
            <div class="col s5"><img class="rightContent" alt="ADP Login Screen" src="/img/adp3.png"></div>
            <div class="col s1"></div>
        </div>
    </div>

    <!--6 row-->
    <div>
        <div class="row">
            <div class="col s1"></div>
            <div class="col s5">
                <h5>Timecard:</h5>

                <p>Here you can view your timecard of current and previous pay periods.</p>

            </div>
            <div class="col s5"><img class="rightContent" alt="ADP Timecard" src="/img/adp4.png"></div>
            <div class="col s1"></div>
        </div>
    </div>

    <!--7 row-->
    <div id="pay" class="section scrollspy">
        <div class="row">
            <div class="col s1"></div>
            <div class="col s5">
                <h4>Information on Pay</h4>

                <p>Access pay statements quickly via the homepage.</p>

            </div>
            <div class="col s5"><img class="rightContent" alt="ADP Informaiton on Pay" src="/img/adp5.png"></div>
            <div class="col s1"></div>
        </div>
    </div>

    <!--8 row-->
    <div>
        <div class="row">
            <div class="col s1"></div>
            <div class="col s5">
                <p>Also access more information here:</p>
                    <ul style="list-style-type:disc">
                        <span class="bullet"><li>Update the following: Tax-withholding specifications and direct deposit information</li></span>
                        <span class="bullet"><li> View the following: pay statements, annual statements (Form W-2)</li></span>
                        <span class="bullet"><li>Utilize the calculators; ADP offers financial tools to aid with: Salary Paycheck Calculator, Hourly Paycheck Calculator, Gross Pay Calculator, 401k Planner, 403(b) Planner, and W-4 Assistant</li></span>
                    </ul>
            </div>
            <div class="col s5"><img class="rightContent" alt="ADP Access Info" src="/img/adp6.png"></div>
            <div class="col s1"></div>
        </div>
    </div>

    <!--9 row-->
    <div id="benefits" class="section scrollspy">
        <div class="row">
            <div class="col s1"></div>
            <div class="col s5">
                <h4>Access Employee Benefits</h4>
                <p>Via the Homepage, ADP News will show various ‘News’ and you will be able to click<br>
                    ‘Your Employee Discounts’.
                </p>

            </div>
            <div class="col s5"><img class="rightContent" alt="ADP Access Info" src="/img/adp7.png"></div>
            <div class="col s1"></div>
        </div>
    </div>

    <!--10 row-->
    <div>
        <div class="row">
            <div class="col s1"></div>
            <div class="col s5">
                <p>The link will bring you to LifeMart, a website which provides various discounts.</p>

            </div>
            <div class="col s5"><img class="rightContent" alt="ADP Access Info" src="/img/adp8.png"></div>
            <div class="col s1"></div>
        </div>
    </div>

    <!--11 row-->
    <div id="mobile" class="section scrollspy">
        <div class="row">
            <div class="col s1"></div>
            <div class="col s5">
                <h4>ADP Mobile</h4>
                <p>Stay connected to company information on your mobile device! ADP Mobile provides a convenient way to access payroll, time and attendance, benefits and other vital HR information. Some information may not be accessible on the app.</p>
            </div>
            <div class="col s5"></div>
            <div class="col s1"></div>
        </div>
    </div>

    <!--12 row-->
    <div>
        <div class="row">
            <div class="col s1"></div>
            <div class="col s10">
                <img class="center" alt="ADP Access Info" src="/img/mobile.png">
            </div>
            <div class="col s1"></div>
        </div>
    </div>

    <!--13 row-->
    <div>
        <div class="row">
            <div class="col s1"></div>
            <div class="col s5">
                <p>You are able to:</p>
                <ul style="list-style-type:disc">
                    <span class="bullet"><li>Update the following: Tax-withholding specifications and direct deposit information</li></span>
                    <span class="bullet"><li>View the following: pay statements, annual statements (Form W-2)</li></span>
                    <span class="bullet"><li>Utilize the calculators; ADP offers financial tools to aid with: Salary Paycheck Calculator, Hourly Paycheck Calculator, Gross Pay Calculator, 401k Planner, 403(b) Planner, and W-4 Assistant</li></span>
                </ul>
            </div>
            <div class="col s5"></div>
            <div class="col s1"></div>
        </div>
    </div>


</div> <!--end of content div-->

<br>

<!--Next and Back Buttons at the end of the page-->
<div>
    <div class="row">
        <div class="col s6"><a class="btn back" href="/">Back</a></div>
<<<<<<< HEAD
        <div class="col s6"><a class="btn next" id="complete" data-name="adp" href="/">Next</a></div>
=======
       
        <div class="col s6"><a id="complete" data-name="adp" class="btn next"  >Next</a></div>
        
>>>>>>> 138f596905c5e2373bee3c7d3a786746a35a910b
    </div>
</div>

