<<<<<<< HEAD
<!--header row-->
<div>
    <div class="row">
        <div class="col s2"></div>
        <div class="col s8 trilogyHeader"><h1>HEADER</h1></div>
        <div class="col s2"></div>
    </div>
=======
<div class="row">
    <div class="col s2"></div>
    <div class="col s8 trilogyHeader"><h1>Orientation</h1></div>
    {{!-- <div class="col s2"><p class="login">LoginMan</p><br>
        <button class="login">Login Button</button> --}}
    </div>

>>>>>>> 0b0112d4864ca8c817cd7a81260bdbcb5fe01981
</div>
<div>
    <div class="row">
        <div class="col s3"></div>
<<<<<<< HEAD
        <div class="col s6 subject"><p>Trilogy Subject Header</p></div>
    </div>
</div>

<!--first row-->
=======
        <div class="col s6 subject"><p>Adp</p></div>
        {{!-- <div class="col s3 search"><p>Search</p></div> --}}
    </div>
</div>

>>>>>>> 0b0112d4864ca8c817cd7a81260bdbcb5fe01981
<div>
    <div class="row">
        <div class="col s1 content"></div>
        <div class="col s5 content">
<<<<<<< HEAD
            <p>ADP is the employee self service website that we utilize to provide you with the following information: Direct access to your employee records and company information and the ability to access 24/7. You can update the following: Tax-withholding specifications, direct deposit information. You can also view the following: Pay statements, Annual statement (Form W-2).</p>

            <h3>Registering for ADP</h3>

                Go to website: <a target="_blank" href="https://workforcenow.adp.com/public/index.htm">ADP</a>

                Click ‘Register Here
            </p>
        </div>
        <div class="col s5 content"></div><img alt="ADP Login Screen" src="../public/img/adp1.png">
=======
            {{!-- <h2>{{user.username}}</h2> --}}
            <p>Lorem ipsum dolor amet messenger bag trust fund hexagon hell of, food truck chillwave synth tbh enamel pin succulents crucifix ennui air plant cornhole raclette.</p>

            <p>Skateboard food truck pour-over kickstarter echo park cloud bread letterpress asymmetrical knausgaard, aesthetic 90's succulents intelligentsia jianbing squid. Austin occupy VHS, authentic activated charcoal helvetica +1 chillwave etsy locavore. Knausgaard squid stumptown vice, microdosing fanny pack bicycle rights retro asymmetrical keffiyeh beard. Tumeric offal cloud bread umami, vinyl tumblr distillery 8-bit hella. PBR&B freegan hammock, swag slow-carb mlkshk tacos man braid seitan austin. Franzen meditation tbh ennui, venmo gastropub schlitz vegan asymmetrical raw denim kinfolk tofu.</p>
        </div>
        <div class="col s5 content"><p><iframe width="560" height="315" src="https://www.youtube.com/embed/GwoqGlYQ4vk" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></p></div>
>>>>>>> 0b0112d4864ca8c817cd7a81260bdbcb5fe01981
        <div class="col s1 content"></div>
    </div>
</div>

<<<<<<< HEAD
<!--second row-->
<div>
    <div class="row">
        <div class="col s1 content"></div>
        <div class="col s5 content">
            <p>Type in Trilogy Education Services employee code: TRILOGYED-1234</p>

            <p>Click ‘Yes’ when prompted if you want to set up an account with Trilogy Education.</p>

            <p>Fill in appropriate information to verify your identity and finish creating your account.</p>
        </div>

        <div class="col s5 content"></div><img alt="ADP Create an Account" src="../public/img/adp2.png">
        <div class="col s1 content"></div>
    </div>
</div>

<!--third row-->
<div>
    <div class="row">
        <div class="col s1 content"></div>
        <div class="col s5 content">
            <h3>Completing Your Time & Attendance Tasks</h3>

            <p>Easily clock in and clock out here. </p>

            <p>If an entry is missed, inform your manager(s) via Slack direct message. Adding a note on your timecard does not notify your manager and they will not see it.</p>

        </div>
        <div class="col s5 content"></div><img alt="ADP Login Screen" src="../public/img/adp3.png">
        <div class="col s1 content"></div>
    </div>
</div>
<!--Next and Back Buttons at the end of the page-->
<div>
    <div class="row">
        <div class="col s6"><button class="back">Back</button></div>
        <div class="col s6"><button class="next">Next</button></div>
    </div>
</div>
=======
<div>
    <div class="row">
        <div class="col s6"><a class="btn back" href="/">Back</a></div>
        <div class="col s6"><a class="btn next">Next</a></div>
    </div>
</div>
>>>>>>> 0b0112d4864ca8c817cd7a81260bdbcb5fe01981
