
<!DOCTYPE html>
<html>
<head>
    <title>Trilogy Recruitment</title>
    <link rel="icon" href="../public/style/trilogy.png">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!--Import materialize.css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link type="text/css" rel="stylesheet" href="../public/style/style.css"  media="screen,projection"/>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script type="text/javascript" src="./../public/js/app.js"></script>
</head>

<body>
<div class="row">
    <div class="col s2"></div>
    <div class="col s8 trilogyHeader"><h1>HEADER</h1></div>
    <div class="col s2"><p class="login">LoginMan</p><br>
        <button class="login">Login Button</button>
    </div>

</div>
<div>
    <div class="row">
        <div class="col s3"></div>
        <div class="col s6 subject"><p>Trilogy Subject Header</p></div>
    </div>
</div>

<div>
    <div class="row">
        <div class="col s1 content"></div>
        <div class="col s5 content">
            <p>ADP is the employee self service website that we utilize to provide you with the following information: Direct access to your employee records and company information and the ability to access 24/7. You can update the following: Tax-withholding specifications, direct deposit information. You can also view the following: Pay statements, Annual statement (Form W-2).</p>

            <p>Registering for ADP

                Go to website: <a target="_blank" href="https://workforcenow.adp.com/public/index.htm">ADP</a>

                Click ‘Register Here
            </p>
        </div>
        <div class="col s5 content"></div>
        <div class="col s1 content"></div>
    </div>
</div>

<div>
    <div class="row">
        <div class="col s6"><button class="back">Back</button></div>
        <div class="col s6"><button class="next">Next</button></div>
    </div>
</div>

</body>
</html>