!--header row-->
<div class="headContent">
    <div>
        <div class="row">
            <div class="col s2"></div>
            <div class="col s8 trilogyHeader"><h1>Orientation</h1></div>
            <div class="col s2"></div>
        </div>
    </div>
    <!--1 row-->
    <div>
        <div class="row">
            <div class="col s3"></div>
            <div class="col s6 subject"><p>Bamboo</p></div>
            <div class="col s3"></div>
        </div>
    </div>

    <div class="progress-container">
        <div class="progress-bar" id="myBar"></div>
    </div>
</div> <!--end of headContent-->

<div class ="content">
    <!--2 row-->
    <div>
        <div class="row">
            <div class="col s1"></div>
            <div class="col s5">
              <h4>How to request time off</h4>

              <p>1) First go to the BambooHR Web Page: <a target="_blank" href="https://www.bamboohr.com/">https://www.bamboohr.com/</a></p>

              <p>2) Click login on the top right side of the screen.</p>
            </div>
            <div class="col s5"><img class="leftContent" src="/img/bamboohrpicture1.png"></div>
            <div class="col s1"></div>
        </div>
    </div>

    <!--3 row-->
    <div>
        <div class="row">
            <div class="col s1"></div>
            <div class="col s5">
                <p>3) "Trilogyed" is the BambooHR domain.</p>
            </div>
            <div class="col s5"><img class="leftContent"  src="/img/bamboohrpicture2.png"></div>
            <div class="col s1"></div>
        </div>
    </div>
        <!--4 row-->
    <div>
        <div class="row">
            <div class="col s1"></div>
            <div class="col s10">
                <p>4) After clicking the green "Continue" button you will have the option to log in with google.</p>
                <p>5) Use your trilogy email address along with password to sign in.</p>
                <p>6) After Signing in, look to the upper upper left hand side of the screen you will see a blue button that says "Request Time Off".</p>
            </div>
            <div class="col s1"></div>
        </div>
    </div>

</div> <!--end of content div-->

<br>
<!--Next and Back Buttons at the end of the page-->
<div>
    <div class="row">
        <div class="col s6"><a class="btn back" href="/">Back</a></div>
        <div class="col s6"><a class="btn next">Next</a></div>
    </div>
</div>
