<!--header row-->
<div class="headContent">
    <!--first row-->
    {{!-- <div>
        <div class="row">
            <div class="col s12 subject"><p>Calendar</p></div>
        </div>
    </div> --}}

    <div class ="row">
        <div class="section table-of-contents">
            <div class="col s3"></div>
            <div class="col s2 menu-items"><a href="#intro">Intro</a></div>
            <div class="col s2 menu-items"><a href="#block">Block</a></div>
            <div class="col s2 menu-items"><a href="#share">Share</a></div>
            <div class="col s3"></div>
     <!--       <div class="col s2"><a href="#story">Job3</a></div>
            <div class="col s2"><a href="#story">Job4</a></div>
            <div class="col s2"><a href="#story">Job5</a></div>-->
        </div>
    </div>
    <!--end of table of contents-->


    <div class="progress-container">
        <div class="progress-bar" id="myBar"></div>
    </div>
</div> <!--end of headContent-->

<div class ="content">

    <!--first row-->
    <div>
        <div class="row">
            <div class="col s12 subject"><p>Calendar</p></div>
        </div>
    </div>

    <div id="intro" class="section scrollspy"> <!--style="margin-top: 50px"-->
        <div class="row">
            <div class="col s1"></div>
            <div class="col s10">
                <p>Your calendar is one of the most important tool as a recruiter. It help to keep you on task to know what is next. Managers can view you calendar to set time for one-on-ones, lunch and learns, and fun activities. Your calendar is linked to your trilogy email. If you have not received your trilogy email - no worries. Once you receive it you will be a pro in no time. Your available will be automatically added to your trilogy calendar. This lesson will go over blocking time and sharing your calendar.</p>
            </div>
            <div class="col s1"></div>
        </div>
    </div>
    <!--1row-->
    <div id="block" class="section scrollspy">
        <div class="row">
            <div class="col s1"></div>
            <!--placeholder img-->
            <div class="col s10">
                <h4>Blocking Off Time</h4>
                    <p>Open your <a>google calendar</a>.</p>
                    <p>Click on the day you want to block time off.</p>
                    <p>A pop up box will open and ask you to fill out all the details of your new event.</p>
                    <br>
                    <img class="center" style="padding: 25px;" alt="Blocking Off Time" src="/img/calendar.png">
                    <br>
                    <p>Name your block accordingly for your own personal organization and for management as your calendar will be viewed by them as well.</p>
                    <p>Then fill out the time you need blocked off. If you are blocking off time for vacation or personal days make sure the time covers the entire duration of your shift. If you are blocking off a smaller amount of time for projects or even a break make sure you select the times accordingly.</p>
                    <p>When you have finished filling out the details be sure to click the blue Save button to save the changes you made.</p>
            </div>
            <div class="col s1"></div>
        </div>
    </div>
    <!--2row-->
    <div id="share" class="section scrollspy">
        <div class="row">
            <div class="col s1"></div>
            <!--placeholder img-->

            <div class="col s10">
                <h4>Sharing your Calendar</h4>
                <p>To the left hand side of your calendar you will notice a small bar that says <strong>“My Calendars”</strong>. Underneath this you should see your name.</p>
                <p>When you click on the three vertical dots next to your name you will see a small menu pop up. Then click on <strong>“Settings and Sharing”</strong>.</p>
                <br>
                <img class="center" style="padding: 25px;" alt="Sharing Calendar" src="/img/calendar2.png">
                <br>
                <p>This will open your settings, scroll down until you see the sections labeled <strong>Access Permissions and Share with Specific People</strong>.</p>
                <br>
                <img class="center" style="padding: 25px;" alt="Setting for Granting Access" src="/img/calendar3.png">
                <br>
                <p>When you click <strong>ADD PEOPLE</strong> you will be able to type in your managers email and share your calendar with them. After you type in your managers email it is important to use the drop down menu under their name to change permissions. You want to select <strong>Make Changes and Manage Sharing</strong>. </p>
                <br>
                <img class="center" style="padding: 25px;" alt="Adding Manager to Calendar" src="/img/calendar4.png">
                <br>
            </div>
            <div class="col s1"></div>
        </div>
    </div>
    <div>
        <div class="row">
            <div class="col s6"><a class="btn back" href="/">Back</a></div>
            <div class="col s6"><a class="btn next" id="complete" data-name="calendar" href="/">Next</a></div>
        </div>
    </div>
</div> <!--end of content-->