<!--header row-->
<div class="headContent">
    <!--first row-->
    {{!-- <div>
        <div class="row">
            <div class="col s12 subject"><p>Email</p></div>
        </div>
    </div> --}}
    <div class ="row">
        <div class="section table-of-contents">
            <div class="col s3"></div>
            <div class="col s2 menu-items"><a href="#intro">Intro</a></div>
            <div class="col s2 menu-items"><a href="#function">Function</a></div>
            <div class="col s2 menu-items"><a href="#signature">Signature</a></div>
            <div class="col s3"></div>
            <!--<div class="col s2"><a href="#how">How</a></div>-->
            <!--<div class="col s2"><a href="#story">Job4</a></div>
            <div class="col s2"><a href="#story">Job5</a></div>-->
        </div>
    </div>
    <!--end of table of contents-->
    <div class="progress-container">
        <div class="progress-bar" id="myBar"></div>
    </div>
</div> <!--end of headContent-->

<div class ="content">

    <!--row 1-->
    <div id="intro" class="section scrollspy" style="margin-top: 50px">
        <div>
        <div class="row">
            <div class="col s12 subject"><p>Email</p></div>
        </div>
    </div>
        <div class="row">
            <div class="col s1"></div>
            <div class="col s5"><img class="leftContent materialboxed" src="/img/Email 1.png"></div>
            <div class="col s5">
                <h4>Signing in to Gmail</h4>
                <p>Trilogy will provide your company email address.</p>
                <p>You will need to set up your password.</p>
            </div>
            <div class="col s1"></div>
        </div>
    </div>
    <!--row2-->
    <div id="function" class="section scrollspy">
        <div class="row">
            <div class="col s1"></div>
            <div class="col s5"><img class="leftContent materialboxed" src="/img/Email 2.png"></div>
            <div class="col s5">
                <h4>Email Functions</h4>
                <p>All of your email functions can be found on the upper left hand side of the screen. It is important to keep your email open throughout your shift. This way you can stay up to date with any important updates or questions from candidates.</p>
            </div>
            <div class="col s1"></div>
        </div>
    </div>
    <!--row3-->
    <div id="signature" class="section scrollspy">
        <div class="row">
            <div class="col s1"></div>
            <div class="col s5"><img class="leftContent materialboxed" src="/img/Email 3.png"></div>
            <div class="col s5">
                <h4>Attaching a Signature</h4>
                <p>In the upper right hand side of your email you will see a gear. When you click on the gear you will get a drop down menu where you will find the “Settings” tab.</p>
            </div>
            <div class="col s1"></div>
        </div>
    </div>
    <!--row4-->
    <div>
        <div class="row">
            <div class="col s1"></div>
            <div class="col s5"><img class="leftContent materialboxed" src="/img/Email 4.png"></div>
            <div class="col s5">
                <p>Click the Settings tab to pull up all your email settings and scroll down until you find “Signature”.</p>
            </div>
            <div class="col s1"></div>
        </div>
    </div>
    <!--row5-->
    <div>
        <div class="row">
            <div class="col s1"></div>
                <div class="col s5"><p>

                    <div dir="ltr" style="margin-left:0pt;">
                    <table style="border:none;border-collapse:collapse">
                        <colgroup>
                            <col width="100" />
                            <col width="492" />
                        </colgroup>
                        <tbody>
                        <tr style="height:104pt">
                            <td style="border-right:solid #cccccc 1.5pt;vertical-align:top;padding:8pt 6pt 0pt 0pt;">
                    <p dir="ltr" style="line-height:1.38;margin-top:0pt;margin-bottom:0pt;"><span id="docs-internal-guid-3fa9f68e-7fff-24e9-e912-e7be79197fb5"><span style="font-size: 11pt; font-family: Arial; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;"><img height="74" src="https://lh3.googleusercontent.com/GQjEAishCXq0FO2_P2YnFc6ZukcpzecEp_bSICTXplVuASzJKmvPLcVVSZ0M4zWhSoQKOdpoG3Q8yZI8G3KSvLO6Tf73TFdftsUrt7YMTgfqox0nZ__2RmB1ES_Sv2COOXKUfqcT" style="border: none; transform: rotate(0.00rad); -webkit-transform: rotate(0.00rad);" width="98" /></span></span></p>
                    </td>
                    <td style="border-left:solid #cccccc 1.5pt;vertical-align:top;padding:0pt 0pt 0pt 6pt;">&nbsp;
                        <div dir="ltr" style="margin-left:0pt;">
                            <table style="border:none;border-collapse:collapse">
                                <colgroup>
                                    <col width="29" />
                                    <col width="463" />
                                </colgroup>
                                <tbody>
                                <tr style="height:17pt">
                                    <td colspan="2" style="vertical-align:top;padding:5pt 5pt 4pt 5pt;">
                                        <p dir="ltr" style="line-height:1.38;margin-top:0pt;margin-bottom:0pt;"><span id="docs-internal-guid-3fa9f68e-7fff-24e9-e912-e7be79197fb5"><span style="font-size: 12pt; font-family: Arial; color: rgb(17, 200, 231); font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">First Name Last Name</span><span style="font-size: 12pt; font-family: Arial; color: rgb(204, 204, 204); font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;"> |</span><span style="font-size: 10pt; font-family: Arial; color: rgb(34, 34, 34); font-weight: 700; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;"> Title</span></span></p>
                                    </td>
                                </tr>
                                <tr style="height:12pt">
                                    <td colspan="2" style="vertical-align:top;padding:5pt 5pt 2pt 5pt;">
                                        <p dir="ltr" style="line-height:1.38;margin-top:0pt;margin-bottom:0pt;"><span id="docs-internal-guid-3fa9f68e-7fff-24e9-e912-e7be79197fb5"><span style="font-size: 9pt; font-family: Arial; color: rgb(136, 136, 136); font-weight: 700; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">TRILOGY EDUCATION SERVICES</span></span></p>
                                    </td>
                                </tr>
                                <tr style="height:20pt">
                                    <td style="vertical-align:top;padding:5pt 5pt 5pt 5pt;">
                                        <p dir="ltr" style="line-height:1.38;margin-top:0pt;margin-bottom:0pt;"><span id="docs-internal-guid-3fa9f68e-7fff-24e9-e912-e7be79197fb5"><span style="font-size: 9pt; font-family: Arial; color: rgb(44, 147, 164); font-weight: 700; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">p:</span></span></p>
                                    </td>
                                    <td style="vertical-align:top;padding:5pt 5pt 5pt 5pt;">
                                        <p dir="ltr" style="line-height:1.38;margin-top:0pt;margin-bottom:0pt;"><span id="docs-internal-guid-3fa9f68e-7fff-24e9-e912-e7be79197fb5"><span style="font-size: 9pt; font-family: Arial; color: rgb(136, 136, 136); font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">Phone Number</span></span></p>
                                    </td>
                                </tr>
                                <tr style="height:20pt">
                                    <td style="vertical-align:top;padding:5pt 5pt 5pt 5pt;">
                                        <p dir="ltr" style="line-height:1.38;margin-top:0pt;margin-bottom:0pt;"><span id="docs-internal-guid-3fa9f68e-7fff-24e9-e912-e7be79197fb5"><span style="font-size: 9pt; font-family: Arial; color: rgb(44, 147, 164); font-weight: 700; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">w: </span></span></p>
                                    </td>
                                    <td style="vertical-align:top;padding:5pt 5pt 5pt 5pt;">
                                        <p dir="ltr" style="line-height:1.38;margin-top:0pt;margin-bottom:0pt;"><span id="docs-internal-guid-3fa9f68e-7fff-24e9-e912-e7be79197fb5"><a href="http://www.trilogyed.com/" style="text-decoration-line: none;"><span style="font-size: 9pt; font-family: Arial; color: rgb(17, 200, 231); font-variant-numeric: normal; font-variant-east-asian: normal; text-decoration-line: underline; text-decoration-skip-ink: none; vertical-align: baseline; white-space: pre-wrap;">www.trilogyed.com</span></a></span></p>
                                    </td>
                                </tr>
                                <tr style="height:53pt">
                                    <td colspan="2" style="vertical-align:top;padding:4pt 5pt 5pt 5pt;">
                                        <p dir="ltr" style="line-height:1.38;margin-top:0pt;margin-bottom:0pt;"><span id="docs-internal-guid-3fa9f68e-7fff-24e9-e912-e7be79197fb5"><a href="http://www.trilogyed.com/careers/openings" style="text-decoration-line: none;"><span style="font-size: 7.5pt; font-family: Arial; color: rgb(44, 147, 164); font-style: italic; font-variant-numeric: normal; font-variant-east-asian: normal; text-decoration-line: underline; text-decoration-skip-ink: none; vertical-align: baseline; white-space: pre-wrap;">We&#39;re Hiring - Check out our current job postings!</span></a></span></p>

                                        <p dir="ltr" style="line-height:1.38;margin-top:0pt;margin-bottom:0pt;"><span id="docs-internal-guid-3fa9f68e-7fff-24e9-e912-e7be79197fb5"><span style="font-size: 7.5pt; font-family: Arial; color: rgb(136, 136, 136); font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">CONFIDENTIALITY NOTICE: This email message, including any attachment(s), is intended only for the named recipient(s) and contains confidential, proprietary or legally privileged information. Unauthorized individuals or entities are not permitted access to this information. Any dissemination, distribution, disclosure, or copying of this information is unauthorized and strictly prohibited. If you have received this message in error, please advise the sender by reply email, and delete this message and any attachments</span></span></p>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </td>
                    </tr>
                    </tbody>
                    </table>
                </div>
            </div>
            <div class="col s5">
                <p>Copy the Signature template on the left and paste into the signature box. Be sure to change all information, name, phone number, title, ect.</p>
            </div>
            <div class="col s1"></div>
        </div>
    </div>
    <!-- Modal Structure -->
    <div id="modal1" class="modal">
        <div class="modal-content">
            <div clas="row">
                <div class="col s12">
                    <h6>What email should you be using for work?</h6>
                    <form id="quizthing">
                        <p>
                            <label>
                                <input name="group1" type="radio" />
                                <span>My personal email</span>
                            </label>
                        </p>
                        <p>
                            <label>
                                <input name="group1" type="radio" />
                                <span>The whole team shares one email</span>
                            </label>
                        </p>
                        <p>
                            <label>
                                <input name="correctAnswer" type="radio" />
                                <span>Trilogy will provide me with an email</span>
                            </label>
                        </p>
                        <p>
                            <label>
                                <input name="group1" type="radio" />
                                <span>We don't use email for work</span>
                            </label>
                        </p>
                    </form>

                </div>
            </div>
        </div>
        <div class="modal-footer">
            {{!-- <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a> --}}
            <a class="btn next modal-close" id="submitQuiz">Submit</a>
        </div>
    </div>

    <div id="modal2" class="modal">
        <div class="modal-content">
            <h6>That's Right!</h6>
        </div>
        <div class="modal-footer">
            <a href="/" class="btn modal-close waves-effect" id="complete" data-name="mail">Continue</a>
        </div>
    </div>

    <div id="modal3" class="modal">
        <div class="modal-content">
            <h6>Looks like you might need to review this content.</h6>
        </div>
        <div class="modal-footer">
            <a href="/email" class="btn modal-close waves-effect">Review</a>
        </div>
    </div>
    <br>

    <!--Next and Back Buttons at the end of the page-->
    <div>
        <div class="row">
            <div class="col s6"><a class="btn back" href="/">Back</a></div>
            <div class="col s6"><a class="btn next modal-trigger" data-name="mail" href="#modal1">Next</a></div>
        </div>
    </div>
    {{!-- <div>
        <div class="row">
            <div class="col s6"><a class="btn back" href="/">Back</a></div>
            <div class="col s6"><a class="btn next" id="complete" data-name="mail" href="/">Next</a></div>
        </div>
    </div> --}}
</div> <!--end of content-->