<div class="row">
<img src="../public/style/trilogy-logo.png" alt="No Image">
      
      <div class="container">
        <div class="flow-text">
            <p><strong>Welcome to your new job as a academic recruiter!</strong></p>
            <p>This is your training app:</p>
            <p>Everything you need to know is right here!</p>
        </div>
        <div class="container">
          <a class="btn-floating btn-large" href="/faq">FAQ's</a>
          <a class="btn btn-block" href="/trilogy">Trilogy</a>
          <a class="btn btn-block" href="/policies">Policies</a>
          <a class="btn btn-block" href="/team">Team Members</a>
          <a class="btn btn-block" href="/jobrole">Job Role</a>
          <a class="btn btn-block" href="/calendar">Availability Calendar</a>
          <a class="btn btn-block" href="/adp">ADP</a>
          <a class="btn btn-block" href="/email">Email</a>
          <a class="btn btn-block" href="/slack">Slack</a>
          <a class="btn btn-block" href="/linkedin">LinkedIN</a>
          <a class="btn btn-block" href="/bamboo">Bamboo</a>
          {{!-- <a class="btn btn-block" href="/communicator">Communicator</a> --}}
          <a class="btn btn-block" href="/salesforce">Sales Force</a>
          <a class="btn btn-block" href="/talentpool">Talent Pool</a>
          {{!-- <p class="btn btn-block section-title">Interviews</p>
          <a class="btn btn-block" href="/">HR</a>
          <p class="btn btn-block section-title">Sourcing</p>
          <a class="btn btn-block" href="/">Tech</a>
          <a class="btn btn-block" href="/">Finals</a>
          <a class="btn btn-block" href="/">Teach Back</a>
          <a class="btn btn-block" href="/">Offers</a> --}}
        </div>
        <br>
        <br>
      </div>
</div>