<div class="row">
    <div class="col s2"></div>
    <div class="col s8 trilogyHeader"><h1>HEADER</h1></div>
    <div class="col s2"></div>

</div>
<div>
    <div class="row">
        <div class="col s3"></div>
        <div class="col s6 subject"><p>Trilogy Subject Header</p></div>
    </div>
</div>

<div>
    <div class="row">
        <div class="col s1 content"></div>
        <div class="col s5 content">
            <p>Lorem ipsum dolor amet messenger bag trust fund hexagon hell of, food truck chillwave synth tbh enamel pin succulents crucifix ennui air plant cornhole raclette. Typewriter palo santo af salvia, ramps kombucha adaptogen vape 90's poke butcher keytar. You probably haven't heard of them listicle helvetica, gochujang vaporware post-ironic trust fund pug. Kale chips craft beer meh fam selfies umami try-hard cred bicycle rights mustache normcore franzen. Poutine crucifix poke semiotics meditation. Snackwave tousled keytar, slow-carb bushwick knausgaard art party raw denim hammock asymmetrical vegan waistcoat etsy fam. Seitan street art gluten-free flexitarian helvetica bicycle rights you probably haven't heard of them taiyaki activated charcoal green juice craft beer skateboard snackwave pug.</p>

            <p>Skateboard food truck pour-over kickstarter echo park cloud bread letterpress asymmetrical knausgaard, aesthetic 90's succulents intelligentsia jianbing squid. Austin occupy VHS, authentic activated charcoal helvetica +1 chillwave etsy locavore. Knausgaard squid stumptown vice, microdosing fanny pack bicycle rights retro asymmetrical keffiyeh beard. Tumeric offal cloud bread umami, vinyl tumblr distillery 8-bit hella. PBR&B freegan hammock, swag slow-carb mlkshk tacos man braid seitan austin. Franzen meditation tbh ennui, venmo gastropub schlitz vegan asymmetrical raw denim kinfolk tofu.</p>
        </div>
        <div class="col s5 content"><p><iframe width="560" height="315" src="https://www.youtube.com/embed/GwoqGlYQ4vk" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></p></div>
        <div class="col s1 content"></div>
    </div>
</div>

<div>
    <div class="row">
        <div class="col s6"><button class="back">Back</button></div>
        <div class="col s6"><button class="next">Next</button></div>
    </div>
</div>

