<!--header row-->
<div class="headContent">
    <!--first row-->
    {{!-- <div>
        <div class="row">
            <div class="col s12 subject"><p>LinkedIn</p></div>
        </div>
    </div> --}}

    <div class ="row">
        <div class="section table-of-contents">
            <div class="col s3"></div>
            <div class="col s2 menu-items"><a href="#intro">Intro</a></div>
            <div class="col s2 menu-items"><a href="#brand">Branding</a></div>
            <div class="col s2 menu-items"><a href="#summary">Summary</a></div>
            <div class="col s3"></div>
          <!--  <div class="col s2"><a href="#ping">Ping</a></div>
            <div class="col s2"><a href="#access">Access</a></div>
            <div class="col s2"><a href="#extra">Extra</a></div>-->
        </div>
    </div>
    <!--end of table of contents-->

    <div class="progress-container">
        <div class="progress-bar" id="myBar"></div>
    </div>
</div> <!--end of headContent-->

<div class ="content">

    <!--row 1-->
    <div id="intro" class="section scrollspy" style="margin-top: 50px">
        <div>
        <div class="row">
            <div class="col s12 subject"><p>LinkedIn</p></div>
        </div>
    </div>
        <div class="row">
            <div class="col s1"></div>
            <div class="col s5"><img class="leftContent materialboxed" alt="Linkedin Profile" src="/img/linkedIn1.png"></div>
            <div class="col s5">
                <p>Candidates often check our profiles. It is important to remember that you are representing Trilogy and to be a good ambassador of our brand.</p>

                <p>Natalie’s profile presents herself wonderfully as a brand ambassador of Trilogy Education Services.</p>

                <p>Why, you might ask?</p>
            </div>
            <div class="col s1"></div>
        </div>
    </div>

    <!--row 2-->
    <div id="brand" class="section scrollspy" >
        <div class="row">
            <div class="col s1"></div>
            <div class="col s5"><img class="leftContent materialboxed" alt="Linkedin Profile" src="/img/linkedIn2.png"></div>
            <div class="col s5">
                <h4>Five big reasons:</h4>
                <p>1. She has a professional photo.<br>
                    Are you camera shy? You can use our brand logo as your profile picture.
                    <br><br>

                    <!-- Modal Trigger -->
                    <a class="waves-effect waves-light btn modal-trigger" href="#modal4">Get Trilogy Logo</a>

                    <!-- Modal Structure -->
                    <div id="modal4" class="modal">
                        <div class="modal-content">
                            <h4>Brand Logo</h4>
                            <img style="width:50%;" alt="Trilogy Logo" class="materialboxed" src="/img/linkedIn4.png">
                         </div>
            <div class="modal-footer">
                <a href="#!" class="modal-close waves-effect waves-red btn-flat">Close</a>
            </div>

        </div>

                </p>
                <p>2. Her headline tells us her role and that she works for Trilogy Education Services.</p>

                <p>3. Her profile summary shows us her personality and what matters most to her in a professional manner.</p>
            </div>
            <div class="col s1"></div>
        </div>
    </div>

    <!--row 3-->
    <div>
        <div class="row">
            <div class="col s1"></div>
            <div class="col s5"><img class="leftContent materialboxed" alt="Linkedin Profile" src="/img/linkedIn3.png"></div>
            <div class="col s5">
                <p>4. Everyone, even people who are not a connection of yours, can view your activity on LinkedIn. This includes your likes and comments on posts. Natalie’s activity is professional and shows her interest in self-improvement and our brand.</p>
                <p>5. If you can, put the standard Trilogy message that Natalie used into the ‘Experience’ section of your LinkedIn profile.</p>
            </div>
            <div class="col s1"></div>
        </div>
    </div>
<br><br>
    <!--row 4-->
    <div id="summary" class="section scrollspy" >
        <div class="row">
            <div class="col s1"></div>
            <div class="col s10" style="border: solid; border-color: #82e3f6;">

                <p>“Trilogy is a Workforce Accelerator that partners with the world's leading universities to help companies bridge the digital skills gap.

                    Thousands of students have successfully completed Trilogy-powered programs, and 1,500+ companies—ranging from start-ups to the Fortune 500—employ them. More than 30 institutions including Northwestern SPS, UC Berkeley Extension, and the University of Toronto partner with Trilogy to train today’s workforce with tomorrow’s skills. Current programs include Web Development, Data Analytics & Visualization, UX/UI, and Cybersecurity.”

                    Trilogy is growing. Fast. From instructors to admissions advisors (and everything in between), we depend on those who share the passion for and commitment to our mission.
                </p>
            </div>
            <div class="col s1"></div>
        </div>
    </div>

    <!-- Modal Structure -->
    <div id="modal1" class="modal">
        <div class="modal-content">
            <div clas="row">
                <div class="col s12">
                    <h6>Can anybody, connection or not, view your activity on LinkedIn?</h6>
                    <form id="quizthing">
                        <p>
                            <label>
                                <input name="correctAnswer" type="radio" />
                                <span>Yes</span>
                            </label>
                        </p>
                        <p>
                            <label>
                                <input name="group1" type="radio" />
                                <span>No</span>
                            </label>
                        </p>
                       
                    </form>

                </div>
            </div>
        </div>
        <div class="modal-footer">
            {{!-- <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a> --}}
            <a class="btn next modal-close" id="submitQuiz">Submit</a>
        </div>
    </div>

    <div id="modal2" class="modal">
        <div class="modal-content">
            <h6>That's Right!</h6>
        </div>
        <div class="modal-footer">
            <a href="/" class="btn modal-close waves-effect" id="complete" data-name="linkedin">Continue</a>
        </div>
    </div>

    <div id="modal3" class="modal">
        <div class="modal-content">
            <h6>Looks like you might need to review this content.</h6>
        </div>
        <div class="modal-footer">
            <a href="/linkedin" class="btn modal-close waves-effect">Review</a>
        </div>
    </div>
    <br>

    <!--Next and Back Buttons at the end of the page-->
    <div>
        <div class="row">
            <div class="col s6"><a class="btn back" href="/">Back</a></div>
            <div class="col s6"><a class="btn next modal-trigger" data-name="linkedin" href="#modal1">Next</a></div>
        </div>
    </div>

    {{!-- <div>
        <div class="row">
            <div class="col s6"><a class="btn back" href="/">Back</a></div>
            <div class="col s6"><a class="btn next" id="complete" data-name="linkedin" href="/">Next</a></div>
        </div>
    </div> --}}
</div> <!--end of content-->