<!--header row-->
<div class="headContent">
    <!--first row-->
    {{!-- <div>
        <div class="row">
            <div class="col s12 subject"><p>Policies</p></div>
        </div>
    </div> --}}

    <div class ="row">
        <div class="section table-of-contents">
            <div class="col s2"><a href="#intro">Intro</a></div>
            <div class="col s2"><a href="#mission">Policy 1</a></div>
            <div class="col s2"><a href="#universities">Policy 2</a></div>
            <div class="col s2"><a href="#universities">Policy 3</a></div>
            <div class="col s2"><a href="#universities">Policy 4</a></div>
            <div class="col s2"><a href="#universities">Policy 5</a></div>

        </div>
    </div>
    <!--end of table of contents-->

    <div class="progress-container">
        <div class="progress-bar" id="myBar"></div>
    </div>
</div> <!--end of headContent-->

<div class ="content">
    <div id="intro" class="section scrollspy" style="margin-top: 50px">
        
         <div>
        <div class="row">
            <div class="col s12 subject"><p>Policies</p></div>
        </div>
    </div>
        <div class="row">
            <div class="col s1"></div>
            <div class="col s10">
                <p>Lorem ipsum dolor amet messenger bag trust fund hexagon hell of, food truck chillwave synth tbh enamel pin succulents crucifix ennui air plant cornhole raclette.</p>

                <p>Skateboard food truck pour-over kickstarter echo park cloud bread letterpress asymmetrical knausgaard, aesthetic 90's succulents intelligentsia jianbing squid. Austin occupy VHS, authentic activated charcoal helvetica +1 chillwave etsy locavore. Knausgaard squid stumptown vice, microdosing fanny pack bicycle rights retro asymmetrical keffiyeh beard. Tumeric offal cloud bread umami, vinyl tumblr distillery 8-bit hella. PBR&B freegan hammock, swag slow-carb mlkshk tacos man braid seitan austin. Franzen meditation tbh ennui, venmo gastropub schlitz vegan asymmetrical raw denim kinfolk tofu.</p>
            </div>
            <div class="col s5"><p><iframe width="560" height="315" src="https://www.youtube.com/embed/GwoqGlYQ4vk" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></p></div>
            <div class="col s1"></div>
        </div>
    </div>
    <div>
        <div class="row">
            <div class="col s6"><a class="btn back" href="/">Back</a></div>
            <div class="col s6"><a class="btn next" id="complete" data-name="policies" href="/">Next</a></div>
        </div>
    </div>
</div> <!--end of content-->