<!--header row-->
<div class="headContent">
    <!--first row-->
    <div>
        <div class="row">
            <div class="col s12 subject"><p>Quiz</p></div>
        </div>
    </div>

    <div class ="row">
        <div class="section table-of-contents">
            <!--<div class="col s2"><a href="#intro">Intro</a></div>
            <div class="col s2"><a href="#brand">Branding</a></div>
            <div class="col s2"><a href="#summary">Summary</a></div>-->
            <!--  <div class="col s2"><a href="#ping">Ping</a></div>
              <div class="col s2"><a href="#access">Access</a></div>
              <div class="col s2"><a href="#extra">Extra</a></div>-->
        </div>
    </div>
    <!--end of table of contents-->

    <div class="progress-container">
        <div class="progress-bar" id="myBar"></div>
    </div>
</div> <!--end of headContent-->


<div class ="content">
    <div id="intro" class="section scrollspy" style="margin-top: 50px">
        
        <div id="quiz"></div>
        <button class="btn">Submit Quiz</button>
        <div id="results"></div>
    </div>
</div>

<script>


</script>
