<!--header row-->
<div class="headContent" >
    {{!-- xmlns="http://www.w3.org/1999/html" --}}
    <!--first row-->
    {{!-- <div>
        <div class="row">
            <div class="col s12 subject"><p>Slack</p></div>
        </div>
    </div> --}}
    <div class ="row">
        <div class="section table-of-contents">
            <div class="col s2 menu-items"><a href="#intro">Intro</a></div>
            <div class="col s2 menu-items"><a href="#start">Start</a></div>
            <div class="col s2 menu-items"><a href="#connect">Connect</a></div>
            <div class="col s2 menu-items"><a href="#ping">Ping</a></div>
            <div class="col s2 menu-items"><a href="#access">Access</a></div>
            <div class="col s2 menu-items"><a href="#extra">Extra</a></div>
        </div>
    </div>
    <!--end of table of contents-->

    <div class="progress-container">
        <div class="progress-bar" id="myBar"></div>
    </div>
</div> <!--end of headContent-->

<div class ="content">

    <!--row1-->
    <div id="intro" class="section scrollspy" style="margin-top: 50px">
        <div>
        <div class="row">
            <div class="col s12 subject"><p>Slack</p></div>
        </div>
    </div>
        <div class="row">
            <div class="col s1"></div>
            <div class="col s10">
                <p>Slack is used for daily communication, team bonding, and overall chatter. In slack, you can use channels or direct messages to contact folks. You can also use different ways to notify team members and how to save important information. </p>
            </div>
            <div class="col s1"></div>
        </div>
    </div>

    <!--row 1.A-->
    <div id="start" class="section scrollspy" style="margin-top: 50px">
        <div class="row">
            <div class="col s1"></div>
            <div class="col s5">
                <h4>Get Started</h4>

                <p>Download Slack to your computer/laptop or use the web version</p>

                <a target="_blank" href="https://itunes.apple.com/us/app/slack/id803453959?mt=12">Slack for Mac</a><br>

                <a target="_blank" href="https://slack.com/downloads/windows">Slack for Windows</a><br>

                <a target="_blank" href="https://slack.com/downloads/linux">Slack for Linx</a><br>

                <p>Use this Link to get started with web version:<br> <a target="_blank" href="https://slack.com/">Slack Website</a></p>

            </div>
            <div class="col s5"><img class="rightContent materialboxed" alt="Get Started" src="/img/slack1A.png"></div>
            <div class="col s1"></div>
        </div>
    </div>

    <!--row 1.B-->
    <div>
        <div class="row">
            <div class="col s1"></div>
            <div class="col s5">
                <p>Click on "Sign In"</p>
            </div>
            <div class="col s5"><img class="rightContent materialboxed" alt="Get Started" src="/img/slack1B.png"></div>
            <div class="col s1"></div>
        </div>
    </div>

    <!--row 1.C-->
    <div>
        <div class="row">
            <div class="col s1"></div>
            <div class="col s5">
                <p>Enter: <strong>trilogyed</strong></p>

                <p>Click Continue</p>
            </div>
            <div class="col s5"><img class="rightContent materialboxed" alt="Get Started" src="/img/slack1C.png"></div>
            <div class="col s1"></div>
        </div>
    </div>

    <!--row 1.D-->
    <div>
        <div class="row">
            <div class="col s1"></div>
            <div class="col s5">

                <p>Use your trilogy email to login "name@trilogyed.com"</p>


            </div>
            <div class="col s5"><img class="rightContent materialboxed" alt="Get Started" src="/img/slack1D.png"></div>
            <div class="col s1"></div>
        </div>
    </div>

    <!--row2-->
    <div id="connect" class="section scrollspy" style="margin-top: 50px">
        <div class="row">
            <div class="col s1"></div>
            <div class="col s5">
                <h4>How to contact co-workers:</h4>
                <h5>Channels</h5>
                <p>There are 2 types of channels, public and private. You can tell if a channel is public by the "<strong>#</strong>" next to the name. Public means that anyone can be added or request to be added to the channel. If a channel has a <strong>lock</strong> icon, the channel is private. Private means that the people in that channel were by invitation ONLY.</p>

                <p>Different channels are used for different conversations. For example, the <strong>#academics</strong> channel is used to contact everyone who falls in the department of “Academics” but <strong>#academic-recruitment</strong> would be used to talk to those who fall in “Academics” but under the category “Recruitment” as well.</p>

                <p>Channels are created by administration.</p>
            </div>
            <div class="col s5"><img class="rightContent materialboxed" alt="Connect with Co-Workers" src="/img/slack1.png"></div>
            <div class="col s1"></div>
        </div>
    </div>

    <!--row3-->
    <div>
        <div class="row">
            <div class="col s1"></div>
            <div class="col s5">
                <h5>Direct Messages</h5>
                <p>If you don’t need to talk to the whole channel and just need to talk to either an individual or a few individuals, you can use direct messages. Just add the name of those you need to chat with by clicking the “+” next to “Direct Messages” to create your own chat-room.</p>
            </div>
            <div class="col s5"><img class="rightContent materialboxed" alt="Direct Message" src="/img/slack2.png"></div>
            <div class="col s1"></div>
        </div>
    </div>

    <!--row4-->
    <div id="ping" class="section scrollspy" style="margin-top: 50px">
        <div class="row">
            <div class="col s1"></div>
            <div class="col s5">
                <h4>How to notify team members (pinging a team member):</h4>
                <p><strong>@channel</strong>: This is used to ping all team members in the channel whether they are online or not. We try to keep this at a minimum during odd hours of the day/night (8pm-7am EST) as to not disturb those who are sleeping. Please be considerate when using this ping!</p>

                <p><strong>@here</strong>: This is used to ping team members in the channel that are currently online. </p>

                <p><strong>@[insert-specific name here]</strong>: This is used to ping a specific team member in the channel. </p>

                <p>Use these different pings to get team member’s attention if you have an urgent task or announcement or - if you need to get someone’s attention.</p>
            </div>
            <div class="col s5"><img class="rightContent materialboxed" alt="Pinging Team" src="/img/slack3.png"></div>
            <div class="col s1"></div>
        </div>
    </div>

    <!--row5-->
    <div id="access" class="section scrollspy" style="margin-top: 50px">
        <div class="row">
            <div class="col s1"></div>
            <div class="col s5">
                <h4>How to save and access important information:</h4>
                <p>There are two ways to save information. You can either “star” the information for yourself or you can “pin” the information if it applies to every team member in the channel.</p>

                <p>Using the “star” feature:<br>
                    Clicking on the “star” icon lets you save information for yourself. You can always un-star if you no longer need the information.
                </p>
            </div>
            <div class="col s5"><img class="rightContent materialboxed" alt="Save Information" src="/img/slack4.png"></div>
            <div class="col s1"></div>
        </div>
    </div>

    <!--row6-->
    <div>
        <div class="row">
            <div class="col s1"></div>
            <div class="col s5">
                <p>To search what you saved, click on the star icon in the top right hand corner of slack. It will pull up your starred items.</p>
            </div>
            <div class="col s5"><img class="rightContent" alt="Save Information" src="/img/slack5.png">
                <img class="rightContent materialboxed" alt="Save Information" src="/img/slack6.png">
            </div>
            <div class="col s1"></div>
        </div>
    </div>

    <!--row7-->
    <div>
        <div class="row">
            <div class="col s1"></div>
            <div class="col s5">
                <p>Using the “pin” feature:<br>
                    Clicking on the “pin to [insert channel name here]” lets you save information to the channel. Use this when you think the information could benefit the whole team.
                </p>
            </div>
            <div class="col s5"><img class="rightContent materialboxed" alt="Save Information" src="/img/slack7.png"></div>
            <div class="col s1"></div>
        </div>
    </div>

    <!--row8-->
    <div>
        <div class="row">
            <div class="col s1"></div>
            <div class="col s5">
                <p>To access the pin, click on the “pin” icon near the top. It’ll open up a menu to show you all the pins either you or others have saved to the channel.</p>
            </div>
            <div class="col s5"><img class="rightContent materialboxed" alt="Save Information" src="/img/slack8.png"></div>
            <div class="col s1"></div>
        </div>
    </div>

    <!--row9-->
    <div id="extra" class="section scrollspy" style="margin-top: 50px">
        <div class="row">
            <div class="col s1"></div>
            <div class="col s10">
                <h4>Extra information</h4>
                <p>To <strong>BOLD</strong> information, place to asterisks before and after the word i.e. *BOLD*</p>
                <p>To ITALICIZE information, place to underscores before and after the word i.e. _ITALICIZE_</p>
                <p>To quote something, put three dashes before and after the word i.e. ```quote```</p>
                <p>To highlight something in red, put one dash before and after the word i.e. `highlight`</p>
                <p>To insert gifs, write /gifs and push enter -  a menu of different gifs to choose from will come up.</p>
                <p>To insert polls, write /polly and push enter - a menu of how to create a poll will come up.</p>
                <p>Add Emojis to other peoples comments in Slack by clicking on the smiling face with a plus sign</p>
                <p>To start a thread click on the speech bubble with the three lines</p>
            </div>
            <div class="col s1"></div>
        </div>
    </div>

    <!-- Modal Structure -->
    <div id="modal1" class="modal">
        <div class="modal-content">
            <div clas="row">
                <div class="col s12">
                    <h6>Which is a use of Slack:</h6>
                    <form id="quizthing">
                        <p>
                            <label>
                                <input name="group1" type="radio" />
                                <span>Team bonding</span>
                            </label>
                        </p>
                        <p>
                            <label>
                                <input name="group1" type="radio" />
                                <span>Daily communication</span>
                            </label>
                        </p>
                        <p>
                            <label>
                                <input name="group1" type="radio" />
                                <span>View important information </span>
                            </label>
                        </p>
                        <p>
                            <label>
                                <input name="correctAnswer" type="radio" />
                                <span>All of the above</span>
                            </label>
                        </p>
                    </form>

                </div>
            </div>
        </div>
        <div class="modal-footer">
            {{!-- <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a> --}}
            <a class="btn next modal-close" id="submitQuiz">Submit</a>
        </div>
    </div>

    <div id="modal2" class="modal">
        <div class="modal-content">
            <h6>That's Right!</h6>
        </div>
        <div class="modal-footer">
            <a href="/" class="btn modal-close waves-effect" id="complete" data-name="slack">Continue</a>
        </div>
    </div>

    <div id="modal3" class="modal">
        <div class="modal-content">
            <h6>Looks like you might need to review this content.</h6>
        </div>
        <div class="modal-footer">
            <a href="/slack" class="btn modal-close waves-effect">Review</a>
        </div>
    </div>
    <br>

    <!--Next and Back Buttons at the end of the page-->
    <div>
        <div class="row">
            <div class="col s6"><a class="btn back" href="/">Back</a></div>
            <div class="col s6"><a class="btn next modal-trigger" data-name="salesforce" href="#modal1">Next</a></div>
        </div>
    </div>

    {{!-- <div>
        <div class="row">
            <div class="col s6"><a class="btn back" href="/">Back</a></div>
            <div class="col s6"><a class="btn next" id="complete" data-name="slack" href="/">Next</a></div>
        </div>
    </div> --}}
</div> <!--end of content-->