!--header row-->
<div class="headContent">
    <div>
        <div class="row">
            <div class="col s2"></div>
            <div class="col s8 trilogyHeader"><h1>Orientation</h1></div>
            <div class="col s2"></div>
        </div>
    </div>
    <!--1 row-->
    <div>
        <div class="row">
            <div class="col s3"></div>
            <div class="col s6 subject"><p>Talent Pool</p></div>
            <div class="col s3"></div>
        </div>
    </div>

    <div class="progress-container">
        <div class="progress-bar" id="myBar"></div>
    </div>
</div> <!--end of headContent-->

<div class ="content">
    <!--2 row-->
    <div>
        <div class="row">
            <div class="col s1"></div>
            <div class="col s5"><img class="rightContent" src="/img/Talent Pool 1.png"></div>
            <div class="col s5">
                <p>Our <a target="_blank" href="https://trilogy-recruitment.herokuapp.com/">Talent Pool</a> is what we use for academic recruitment. It is a virtual swimming pool for potential candidates sourced for utilization at a later date to help streamline the hiring process.</p>
            </div>
            <div class="col s1"></div>
        </div>
    </div>

    <!--3 row-->
    <div>
        <div class="row">
            <div class="col s1"></div>
            <div class="col s10">
                <h4>What can I do with our Talent Pool system?</h4>

                <p>View urgent roles for the day</p>

                <p>View potential candidates that have been put into the talent pool system for specific: universities,  role (whether it is a TA or Instructor), program (FSF, Data VIz, UI/UX, Cyber, or LoL), and stage of their interview process (pending HR, Tech, or Final Interview) </p>


                <p><strong>Add potential candidates, such as:</strong></p>
                  <ul>
                    <li>A candidate to be considered for a cohort that does not start within ninety days</li>
                    <li>A candidate who needs to familiarize themselves better with the technologies we utilize but has a great personality</li>
                    <li>Someone who cannot commit to the time schedule currently or has too many upcoming schedule events that conflict with the class schedule</li>
                  </ul>
            </div>
            <div class="col s1"></div>
        </div>
    </div>

    <!--4 row-->
    <div>
        <div class="row">
            <div class="col s1"></div>
            <div class="col s10">
              <h4>Why Use a Talent Pool?</h4>

              <p>There are various ways in which you can utilize talent pools, but here are the most beneficial:</p>
                <ul>
                  <li>To keep track of talent that may be better suited for a position at a later date</li>
                  <li>To save time when hiring needs arise</li>
                  <li>To ensure the right hire</li>
                  <li>To have a reserve of qualified candidates when a position needs to be filled quickly</li>
                  <li>To continuously assess talent needs</li>
                  <li>To revisit candidates from previous applications</li>
                </ul>


            </div>
            <div class="col s1"></div>
        </div>
    </div>

    <!--5 row-->
    <div>
        <div class="row">
            <div class="col s1"></div>
            <div class="col s5">
                <h4>Adding a Candidate</h4>

                <p>If any stage of the interview process has been completed, be sure to add the candidate’s id number from the<a target="_blank" href="https://trilogy-recruitment.herokuapp.com/">Matrix Reloaded</a>. </p>

                <p>The Talent Pool is compatible with Google Chrome and is not Safari friendly.</p>

            </div>
            <div class="col s5"><img class="rightContent" src="/img/Talent Pool 2.png"></div>
            <div class="col s1"></div>
        </div>
    </div>

</div> <!--end of content div-->

<br>
<!--Next and Back Buttons at the end of the page-->
<div>
    <div class="row">
        <div class="col s6"><a class="btn back" href="/">Back</a></div>
        <div class="col s6"><a class="btn next">Next</a></div>
    </div>
</div>
