<!--header row-->
<div class="headContent">
    <!--first row-->
    <div>
        <div class="row">
            <div class="col s12 subject"><p>Team</p></div>
        </div>
    </div>

    <div class ="row">
        <div class="section table-of-contents">
            <div class="col s2"><a href="#intro">Intro</a></div>
            <div class="col s2"><a href="#headDept">Dept Head</a></div>
            <div class="col s2"><a href="#managers">Managers</a></div>
            <div class="col s2"><a href="#recruiters">Recruiters</a></div>
            <div class="col s2"><a href="#leads">Leads</a></div>
        </div>
    </div>
    <!--end of table of contents-->

    <div class="progress-container">
        <div class="progress-bar" id="myBar"></div>
    </div>
</div> <!--end of headContent-->

<div class ="content">
    <!--row 2-->
    <div id="intro" class="section scrollspy" style="margin-top: 50px">
        <div>
        <div class="row">
            <div class="col s12 subject"><p>Team</p></div>
        </div>
    </div>
        <div class="row">
            <div class="col s1"></div>
           <!-- <div class="col s10"><p><div style="width: 100%; height: 480px; margin: 10px;"><iframe allowfullscreen frameborder="0" style="width:100%; height:480px" src="https://www.lucidchart.com/documents/embeddedchart/f3c9edd2-bef6-435c-850f-983a0e5fb3e7" id="bU8buqCUf621"></iframe></div></p>-->
            <div class="col s10">
                <h4 >Learn About Your Team!</h4>
                <p>The department is “Academics” and the category we fall under is “Academic Recruitment - Instruction”. We recruit Instructors and TAs for all programs in Universities across the nation.</p>
            </div>
            <div class="col s1"></div>
        </div>
    </div>

    <!--row3- Ahmed-->
    <div id="headDept" class="section scrollspy">
        <div class="row">
            <div class="col s1"></div>
            <div class="col s10 center">
                <img class="circle responsive-img teamPics" alt="Ahmed Haque" src="https://media.licdn.com/dms/image/C4E03AQFbfps3Ax3e_g/profile-displayphoto-shrink_800_800/0?e=1544054400&v=beta&t=ecqwgB0fP7ac-IlW155zPNHyhFGU4Zee5Kqx5VTluTs">
                <h6>Ahmed Haque</h6>
                <p class="title">Chief Academic Officer</p>
            </div>
            <div class="col s1"></div>
        </div>
    </div>


    <!--row4 jed-->
    <div>
        <div class="row">
            <div class="col s1"></div>
            <div class="col s10 center">
                <img class="circle responsive-img teamPics" alt="Jed Woodarek" src="https://media.licdn.com/dms/image/C5603AQFH0FXPQFxX3w/profile-displayphoto-shrink_800_800/0?e=1544054400&v=beta&t=h8jBpO9EXEvkyMsPI6wieZK4OG9qWA-l0YKjhyCVxjE">
                <h6>Jedrek "Jed" Woodarek</h6>
                <p class="title">President of Instruction</p>
            </div>
            <div class="col s1"></div>
        </div>
    </div>

    <!--row4 jess-->
    <div>
        <div class="row">
            <div class="col s1"></div>
            <div class="col s10 center">
                <img class="circle responsive-img teamPics" alt="Jessica (Cockerham) Mason" src="https://media.licdn.com/dms/image/C4D03AQE9Tlt3ATEr3Q/profile-displayphoto-shrink_800_800/0?e=1544054400&v=beta&t=CwaUmodr7RgdnARI3FmNtOT1x5F3RC8B94lqmzlV18k">
                <h6>Jessica "Jess" (Cockerham) Mason</h6>
                <p class="title">Senior Recruitment Manager</p>
            </div>
            <div class="col s1"></div>
        </div>
    </div>

    <!--manager title-->
    <div id="managers" class="section scrollspy">
        <div class="row">
            <div class="col s12 center">
                <h3>Academic Recruitment Managers</h3>
            </div>
        </div>
    </div>

    <!--row4 managers-->
    <div>
        <div class="row">
            <div class="col s4 center">
                <img class="circle responsive-img rowPics" alt="Steven Stabile" src="https://media.licdn.com/dms/image/C5603AQEpAp7_DjtmTA/profile-displayphoto-shrink_800_800/0?e=1544054400&v=beta&t=nFrRsULRBCGC2kmubQ2CLaFK0ewt4i8PDv4-LHM2UFQ">
                <h6>Steven Stabile</h6>
                <p class="title">Sourcing</p>
            </div>
            <div class="col s4 center">
                <img class="circle responsive-img rowPics" alt="Natalie Ta" src="https://media.licdn.com/dms/image/C4E03AQE4quEt5C_GoQ/profile-displayphoto-shrink_800_800/0?e=1544054400&v=beta&t=vrl41ZdED32zqG2O18-LxxQZ3p2Vx_dxUomSXI15tlo">
                <h6>Natalie Ta</h6>
                <p class="title">HR Interview</p>
            </div>
            <div class="col s4 center">
                <img class="circle responsive-img rowPics" alt="James Hornung" src="https://media.licdn.com/dms/image/C5103AQHso5Vrs1Uo_A/profile-displayphoto-shrink_800_800/0?e=1544054400&v=beta&t=vCBckeVV1IDOa3W-pr0MTADjI1Aybf2x-cS99CKYD4M">
                <h6>James Hornung</h6>
                <p class="title">Back End</p>
            </div>
        </div>
    </div>

    <!--row5 title-->
    <div id="recruiters" class="section scrollspy">
        <div class="row">
            <div class="col s12 center">
                <h3>Academic Recruiters</h3>
            </div>
        </div>
    </div>

    <!--row5 team-->
    <div>
        <div class="row">
            <div class="col s4 center">
                <img class="circle responsive-img rowPics" alt="Raynard Gibbs" src="https://media.licdn.com/dms/image/C4D03AQGo4bEMS6WzBw/profile-displayphoto-shrink_800_800/0?e=1544054400&v=beta&t=A4uy4WQWa_KNZRq8Sy8iSuw9KlcPqpd7rQ9R_pRw82U">
                <h6>Raynard "Ray" Gibbs</h6>
                <p class="title">+ QA Team</p>
            </div>
            <div class="col s4 center">
                <img class="circle responsive-img rowPics" alt="Kim O'Kelley" src="/img/default.jpg">
                <h6>Kimberly "Kim" O'Kelley</h6>
                <p class="title">+ QA Team</p>
            </div>
            <div class="col s4 center">
                <img class="circle responsive-img rowPics" alt="Matthew Morford" src="https://media.licdn.com/dms/image/C5603AQGKocUrFq3j2Q/profile-displayphoto-shrink_800_800/0?e=1544054400&v=beta&t=wfe9SlZD3nrUKaNJqTCaYkZ3Lpn_J_i7KsSRoq_Sypg">
                <h6>Matthew Morford</h6>
            </div>
        </div>
    </div>

    <!--row6 team-->
    <div>
        <div class="row">
            <div class="col s4 center">
                <img class="circle responsive-img rowPics" alt="Courtney Phelps" src="https://media.licdn.com/dms/image/C4E03AQGe7ZmhzIfgaQ/profile-displayphoto-shrink_200_200/0?e=1544054400&v=beta&t=DuTX3kXhGkkR4jWiI1ztM2HNPs9m0E-5Xdos585rjMQ">
                <h6>Courtney Phelps</h6>
            </div>
            <div class="col s4 center">
                <img class="circle responsive-img rowPics" alt="Courtney Bestemen" src="/img/default.jpg">
                <h6>Courtney Besteman</h6>
            </div>
            <div class="col s4 center">
                <img class="circle responsive-img rowPics" alt="Allison Kelley" src="https://media.licdn.com/dms/image/C4E03AQFPszyayk8Ldg/profile-displayphoto-shrink_800_800/0?e=1544054400&v=beta&t=zREdTsKPrxWcYVPuyW-K6VWvMCB4_S66tnJBvO6j0U8">
                <h6>Allison Kelly</h6>
            </div>
        </div>
    </div>

    <!--row7 team-->
    <div>
        <div class="row">
            <div class="col s4 center">
                <img class="circle responsive-img rowPics" alt="Rich Schmitt" src="https://media.licdn.com/dms/image/C4D03AQHJD-7Pxwzrmw/profile-displayphoto-shrink_800_800/0?e=1544054400&v=beta&t=5iwZ7DqXwcpaw9kBVSdjhMSXOOp1omeyP22rx2geof0">
                <h6>Rich Schmitt</h6>
                <p class="title">+ Development Team</p>
            </div>
            <div class="col s4 center">
                <img class="circle responsive-img rowPics" alt="Alena Woodarek" src="https://media.licdn.com/dms/image/C4D03AQGn6g6MYMVNbQ/profile-displayphoto-shrink_800_800/0?e=1544054400&v=beta&t=7iUnoG7oYz99vq1wK9oqzhQLZ8bV8KkL5IJxxXVFD_8">
                <h6>Alena Woodarek</h6>
            </div>
            <div class="col s4 center">
                <img class="circle responsive-img rowPics" alt="Jason James" src="https://media.licdn.com/dms/image/C4D03AQFG0OZHoAVrNw/profile-displayphoto-shrink_800_800/0?e=1544054400&v=beta&t=hXRB4_tGGZFKLQcJJ642DwuTuzhGnlD4tfA3M6Zz9nE">
                <h6>Jason James</h6>
            </div>
        </div>
    </div>

    <!--row8 team-->
    <div>
        <div class="row">
            <div class="col s4 center">
                <img class="circle responsive-img rowPics" alt="Marjorie Garcia" src="https://media.licdn.com/dms/image/C5103AQEb-prdLsguSg/profile-displayphoto-shrink_800_800/0?e=1544054400&v=beta&t=m2KVM6oiLXrzxBA5TWxT5f9xN8XEC_fcTda33fIgf1U">
                <h6>Marjorie (Mora) Garcia</h6>
            </div>
            <div class="col s4 center">
                <img class="circle responsive-img rowPics" alt="Shawn Walker" src="https://media.licdn.com/dms/image/C4D03AQGhTiUk3GztDg/profile-displayphoto-shrink_800_800/0?e=1544054400&v=beta&t=xVxTHK80_TGH3mCI-uHADpv9-KmTMhNu3FyiVkattoo">
                <h6>Shawn Walker</h6>
            </div>
            <div class="col s4 center">
                <img class="circle responsive-img rowPics" alt="Lindsey Barnes" src="https://media.licdn.com/dms/image/C4E03AQECmuFzQPuwVQ/profile-displayphoto-shrink_800_800/0?e=1544054400&v=beta&t=BSUD7b5Jsn277aJC01vuZ9vhqjkcGbGgQxBqBTad4EE">
                <h6>Lindsey Barnes</h6>
            </div>
        </div>
    </div>

    <!--row9 Future team memebers-->

<!--
    <div>
        <div class="row">
            <div class="col s4 center">
                <img class="circle responsive-img rowPics" alt="" src="">
                <h6></h6>
            </div>
            <div class="col s4 center">
                <img class="circle responsive-img rowPics" alt="" src="/img/default.jpg">
                <h6></h6>
            </div>
            <div class="col s4 center">
                <img class="circle responsive-img rowPics" alt="" src="">
                <h6></h6>
            </div>
        </div>
    </div>
-->

    <!--row lead title-->
    <div id="leads" class="section scrollspy">
        <div class="row">
            <div class="col s12 center">
                <h3>Academic Leads</h3>
            </div>
        </div>
    </div>

    <!--row 1 - Tech/TB leads-->
    <div>
        <div class="row">
            <div class="col s4 center">
                <img class="circle responsive-img rowPics" alt="Dylan Sturges" src="https://media.licdn.com/dms/image/C5103AQEP_LFXwYsU7A/profile-displayphoto-shrink_800_800/0?e=1544054400&v=beta&t=PE9aBj6KnMEnbCvyYVEFT3QETYaDmrkeQL-qLceaepg">
                <h6>Dylan Sturges</h6>
                <p class="title">Technical Interview Lead</p>
            </div>
            <div class="col s4 center">
                <img class="circle responsive-img rowPics" alt="Fernando Medina" src="https://media.licdn.com/dms/image/C4E03AQEGi3YfDnSJ9Q/profile-displayphoto-shrink_800_800/0?e=1544054400&v=beta&t=JbLWt8UnBhUenYMg-1r0cJLt7KI8vhBiPu9IcM-4ZNU">
                <h6>Fernando Medina</h6>
                <p class="title">Final TA Interview Lead</p>
            </div>
            <div class="col s4 center">
                <img class="circle responsive-img rowPics" alt="" src="">
                <h6></h6>
            </div>
        </div>
    </div>

    <!--end of team moving to next page-->
    <div>
        <div class="row">
            <div class="col s6"><a class="btn back" href="/">Back</a></div>
            <div class="col s6"><a class="btn next" id="complete" data-name="team" href="/">Next</a></div>
        </div>
    </div>
</div> <!--end of content-->