<!--header row-->
<div class="headContent">
    <div>
        <div class="row">
            <div class="col s2"></div>
            <div class="col s8 trilogyHeader"><h1>Orientation</h1></div>
            <div class="col s2"></div>
        </div>
    </div>
    <!--first row-->
    <div>
        <div class="row">
            <div class="col s3"></div>
            <div class="col s6 subject"><p>Team</p></div>
            <div class="col s3"></div>
        </div>
    </div>

    <div class="progress-container">
        <div class="progress-bar" id="myBar"></div>
    </div>
</div> <!--end of headContent-->

<div class ="content">
    <div>
        <div class="row">
            <div class="col s1"></div>
            <div class="col s5"><p><div style="width: 100%; height: 480px; margin: 10px;"><iframe allowfullscreen frameborder="0" style="width:100%; height:480px" src="https://www.lucidchart.com/documents/embeddedchart/f3c9edd2-bef6-435c-850f-983a0e5fb3e7" id="bU8buqCUf621"></iframe></div></p></div>
            <div class="col s5">
                <h4>Learn About Your Team!</h4>
                <p>The department is “Academics” and the category we fall under is “Academic Recruitment - Instruction”. We recruit Instructors and TAs for all programs in Universities across the nation.</p>

                <p>Skateboard food truck pour-over kickstarter echo park cloud bread letterpress asymmetrical knausgaard, aesthetic 90's succulents intelligentsia jianbing squid. Austin occupy VHS, authentic activated charcoal helvetica +1 chillwave etsy locavore. Knausgaard squid stumptown vice, microdosing fanny pack bicycle rights retro asymmetrical keffiyeh beard. Tumeric offal cloud bread umami, vinyl tumblr distillery 8-bit hella. PBR&B freegan hammock, swag slow-carb mlkshk tacos man braid seitan austin. Franzen meditation tbh ennui, venmo gastropub schlitz vegan asymmetrical raw denim kinfolk tofu.</p>
            </div>
            <div class="col s1"></div>
        </div>
    </div>
    <div>
        <div class="row">
            <div class="col s6"><a class="btn back" href="/">Back</a></div>
            <div class="col s6"><a class="btn next">Next</a></div>
        </div>
    </div>
</div> <!--end of content-->