<!--header row-->
<div class="headContent">
    <div>
        <div class="row">
            <div class="col s2"></div>
            <div class="col s8 trilogyHeader"><h1>Orientation</h1></div>
            <div class="col s2"></div>
        </div>
    </div>
    <!--first row-->
    <div>
        <div class="row">
            <div class="col s3"></div>
            <div class="col s6 subject"><p>Trilogy</p></div>
            <div class="col s3"></div>
        </div>
    </div>

    <div class="progress-container">
        <div class="progress-bar" id="myBar"></div>
    </div>
</div> <!--end of headContent-->

<div class ="content">
    <!--1 row-->
    <div>
        <div class="row">
            <div class="col s1"></div>
            <div class="col s5"><img src="/img/trilogyRutgers.jpg"></div>
            <div class="col s5">
                <h4>Company Beginnings</h4>
                <ul style="list-style-type:disc">
                    <span class="bullet"><li>Founded in 2015</li></span>
                    <span class="bullet"><li>Started at Rutgers</li></span>
                    <span class="bullet"><li> Trilogy’s headquarters are in New York. Most of Trilogy’s employees are remote and are located all over the United States.</li></span>
                </ul>
            </div>
            <div class="col s1"></div>
        </div>
    </div>
    <!--2 row-->
    <div>
        <div class="row">
            <div class="col s1"></div>
            <div class="col s10">
                <h4>Mission Statement</h4>
                <p>To empower Universities to transform the lives of students through skills-based training programs that are university-run, student-tested, and employer-approved.</p>
            </div>
            <div class="col s1"></div>
        </div>
    </div>
    <!--3 row-->
    <div>
        <div class="row">
            <div class="col s1"></div>
            <div class="col s10">
                <h2 style="color: #498fa1"><i>
                    We put students first.<br>
                    We never stop improving.<br>
                    We bring a “can do” attitude.<br>
                    We succeed only as a team.<br>
                </i><h2>
            </div>
            <div class="col s1"></div>
        </div>
    </div>
    <!--4 row-->
    <div>
        <div class="row">
            <div class="col s1"></div>
            <div class="col s10">
                <h4>The Universities</h4>
                <p>We have partnered with over 40 universities all around the world</p>
                <p>The way our partnership works is that the University provides their brand name, certificate, technology, and classroom location</p>
                <p>Trilogy offers the admissions team, writes the curriculum, and hires the instructional staff</p>
                <p>To empower Universities to transform the lives of students through skills-based training programs that are university-run, student-tested, and employer-approved.</p>
            </div>
            <div class="col s1"></div>
        </div>
    </div>
    <div>
        <div class="row">
            <div class="col s1"></div>
            <div class="col s10">
                <img class="school" src="/img/university.png" alt="Partnered Universities"></a>
            </div>
            <div class="col s1"></div>
        </div>
    </div>
</div> <!--end of content-->
<div>
    <div class="row">
        <div class="col s6"><a class="btn back" href="/">Back</a></div>
        <div class="col s6"><a class="btn next">Next</a></div>
    </div>
</div>
