<!--header row-->
<div class="headContent">
    <div class ="row">
        <div class="section table-of-contents">
            <div class="col s2 menu-items"><a href="#intro">Intro</a></div>
            <div class="col s2 menu-items"><a href="#">2</a></div>
            <div class="col s2 menu-items"><a href="#">3</a></div>
            <div class="col s2 menu-items"><a href="#">4</a></div>
            <div class="col s2 menu-items"><a href="#">5</a></div>
            <div class="col s2 menu-items"><a href="#">6</a></div>
        </div>
    </div>
    <!--end of table of contents-->

    <div class="progress-container">
        <div class="progress-bar" id="myBar"></div>
    </div>
</div> <!--end of headContent-->

<div class ="content">
    <!--row 2-->
    <div id="intro" class="section scrollspy" style="margin-top: 50px">
        <div>
            <div class="row">
                <div class="col s12 subject"><p>Zoom</p></div>
            </div>
        </div>
        <div class="row">
            <div class="col s1"></div>
            <div class="col s10">
                <h4></h4>
                <p></p>
            </div>
            <div class="col s1"></div>
        </div>
    </div>



<!--end of team moving to next page-->
<div>
    <div class="row">
        <div class="col s6"><a class="btn back" href="/">Back</a></div>
        <div class="col s6"><a class="btn next" id="complete" data-name="team" href="/">Next</a></div>
    </div>
</div>
</div> <!--end of content-->

